= simple_form_for( @component, html: { class: 'form-horizontal' } ) do |f|
  = f.error_notification

  .form-inputs
    = f.input       :name
    = f.input       :description
    = f.input       :disabled, wrapper: :horizontal_boolean

    .form-group
      = f.label       :instances, class: 'col-md-3 control-label text-right'
      .col-md-9
        .col-md-8
          = link_to new_component_instance_path(@component), class: 'btn btn-sm btn-default' do
            %span.glyphicon.glyphicon-plus
          = link_to component_instances_path(@component), class: 'btn btn-sm btn-default' do
            %span.glyphicon.glyphicon-list

  .form-actions
    .col-sm-9.col-sm-offset-3
      = f.button :submit, class: 'btn-primary'
      = link_to "Cancel", "#", class: 'btn btn-default btn-back'
      - unless @component.new_record?
        = link_to @component, :method => :delete, class: 'btn btn-sm btn-danger', 
          title: 'Delete', data: { confirm: "Are you sure?" } do
          %span.glyphicon.glyphicon-trash
