%p#notice= notice

%p
  %b Name:
  = @component.name
%p
  %b Description:
  = @component.description
%p
  %b Disabled:
  = @component.disabled

= link_to 'Edit', edit_component_path(@component)
\|
= link_to 'Back', components_path
