- content_for :header do
  %h1
    Component: 
    = @component.name
    = link_to '#', class: 'btn btn-default btn-back' do
      %span.glyphicon.glyphicon-circle-arrow-left
    = link_to edit_component_path(@component), class: 'btn btn-default btn-rotate' do
      %span.glyphicon.glyphicon-cog
  %hr

.row
  .col-md-2
    %p
      %b Instances:
  .col-md-10
    %p
      = link_to component_instances_path(@component), class: 'btn btn-sm btn-default' do
        %span.badge= @component.instances.count
        %span.glyphicon.glyphicon-list
      = link_to new_component_instance_path(@component), class: 'btn btn-sm btn-default' do
        %span.glyphicon.glyphicon-plus

.row
  .col-md-2
    %p
      %b Disabled:
  .col-md-10
    %p
      = @component.disabled?

.row
  .col-md-2
    %p
      %b Description:
  .col-md-10
    %p
      = @component.description

.row
  .col-md-2
    %p
      %b Images:
  .col-md-10
    - @component.images.each do |image|
      %p=image.name