= simple_form_for(@instance) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :port
    = f.association :image
    = f.association :component
    = f.association :host

  .form-actions
    = f.button :submit
