%h1 Listing instances

%table
  %tr
    %th Name
    %th Port
    %th Image
    %th Component
    %th Host
    %th
    %th
    %th

  - @instances.each do |instance|
    %tr
      %td= instance.name
      %td= instance.port
      %td= instance.image
      %td= instance.component
      %td= instance.host
      %td= link_to 'Show', instance
      %td= link_to 'Edit', edit_instance_path(instance)
      %td= link_to 'Destroy', instance, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Instance', new_instance_path
