%h1 Listing instances of #{@component.project.name}/#{@component.name}

%table.table
  %thead
    %tr
      %th Host
      %th Component
      %th
  %tbody
    - @instances.each do |instance|
      %tr
        %td= "#{instance.host.name}:#{instance.port}"
        %td= "#{instance.component.name}:#{instance.image.release.name}"
        %td
          = link_to edit_component_instance_path(@component, instance), class: 'btn btn-xs btn-default btn-rotate', title: 'Settings' do
            %span.glyphicon.glyphicon-cog
          = link_to component_instance_path(@component, instance), :method => :delete, class: 'btn btn-xs btn-danger', 
            title: 'Delete', data: { confirm: "Are you sure?" } do
            %span.glyphicon.glyphicon-trash

%br

= link_to 'New Instance', new_component_instance_path(@component)
