- content_for :header do
  %h2 
    Instances
    = link_to "#", class: 'btn btn-default btn-back' do
      %span.glyphicon.glyphicon-circle-arrow-left
    - if @environment
      = link_to new_environment_instance_path(@environment), class: 'btn btn-default' do
        %span.glyphicon.glyphicon-plus
    - elsif @component
      = link_to new_component_instance_path(@component), class: 'btn btn-default' do
        %span.glyphicon.glyphicon-plus

  %hr

.row{'ng-controller' => 'instancesController', 'ng-init' => 'refresh()'}
  .col-md-12
    %table.table.instances
      %thead
        %tr
          %th Id
          %th Project
          %th Environment
          %th Host
          %th Release
          %th State
          %th
      %tbody
        %tr{ "ng-repeat" => "instance in instances" }
          %td
            %a{ href: '{{ instance.instance_path }}' } {{ instance.id }}
          %td {{ instance.project }}
          %td {{ instance.environment }}
          %td {{ instance.host }}
          %td {{ instance.component }}:{{ instance.release }}
          %td {{ instance.state }}
          %td
            = link_to '{{ instance.action_instance_path }}',  remote: true, method: :post,
              :'ng-disabled' => "instance.state !== 'running' && instance.state !== 'stopped'",
              class: 'btn btn-xs btn-default btn-action' do
              %span{class: 'glyphicon', 'ng-class' => 'instance.action_class'}
            = link_to '{{ instance.edit_instance_path }}', class: 'btn btn-xs btn-default btn-rotate', 
              title: 'Settings' do
              %span.glyphicon.glyphicon-cog
            = link_to '{{ instance.instance_path }}', :method => :delete, class: 'btn btn-xs btn-danger', 
              title: 'Delete', data: { confirm: "Are you sure?" } do
              %span.glyphicon.glyphicon-trash


          /   - if instance.stopped?
          /     = link_to run_instance_path(instance),  remote: true, method: :post, class: 'btn btn-xs btn-default btn-rotate btn-action' do
          /       %span.glyphicon.glyphicon-play
          /   - elsif instance.running?
          /     = link_to stop_instance_path(instance), remote: true, method: :post, class: 'btn btn-xs btn-default btn-rotate btn-action' do
          /       %span.glyphicon.glyphicon-pause
          /   - else
          /     = link_to '#', class: 'btn btn-xs btn-default disabled' do
          /       %span.glyphicon.glyphicon-refresh

          /   = link_to edit_instance_path(instance), class: 'btn btn-xs btn-default btn-rotate', title: 'Settings' do
          /     %span.glyphicon.glyphicon-cog
          /   = link_to instance_path(instance), :method => :delete, class: 'btn btn-xs btn-danger', 
          /     title: 'Delete', data: { confirm: "Are you sure?" } do
          /     %span.glyphicon.glyphicon-trash
