= simple_form_for(@registry, html:{ class: 'form-horizontal' } ) do |f|
  = f.error_notification

  .row
    .form-inputs.col-md-8.col-md-offset-1
      = f.input :url, placeholder: 'https://example.com'
      = f.input :name
      = f.input :description, label: t('.description')
      = f.input :disabled

  .row.form-actions
    .col-md-6.col-md-offset-3
      = f.button :submit, class: 'btn-primary'
      = link_to 'Cancel', registries_path, class: 'btn btn-default'
      - unless @registry.new_record?
        = link_to @registry, :method => :delete, class: 'btn btn-sm btn-danger', 
          title: 'Delete', data: { confirm: "Are you sure?" } do
          %span.glyphicon.glyphicon-trash

