- content_for :header do
  %h1
    Registry
    %small #{ @registry.url }
    = link_to "#", class: 'btn btn-default btn-back' do
      %span.glyphicon.glyphicon-circle-arrow-left

    = link_to edit_registry_path(@registry), class: 'btn btn-default btn-rotate' do
      %span.glyphicon.glyphicon-cog
  %hr

- @registry.images.order(:name).includes(:project, :component, :release).each do |image|
  .row
    .col-md-6
      = "#{image.project.name}/#{image.component.name}:#{image.release.name}"
    .col-md-6
      = "#{image.docker_id}"
