- content_for :header do
  %h1 
    #{@release.project.name}:#{@release.name}
    = link_to "#", class: 'btn btn-default btn-back', title: 'Back' do
      %span.glyphicon.glyphicon-circle-arrow-left
    = link_to edit_project_release_path(@project, @release), class: 'btn btn-default btn-rotate', title: 'Settings' do
      %span.glyphicon.glyphicon-cog
  %hr

.row
  .col-md-3
    %p
      %b #{t('.alias')}:
  .col-md-9
    = @release.label
.row
  .col-md-3
    %p
      %b Components:
  .col-md-9
    - @release.components.order(:name).each do |component|
      = component.name
      %br
.row
  .col-md-3
    %p
      %b Images:
  .col-md-9
    - @release.components.order(:name).each do |component|
      = component.images.where(release: @release).map{|i| i.name}.join(', ')
      %br
.row
  .col-md-3
    %p
      %b Description:
  .col-md-9
    = @release.description
