- content_for :header do
  %h1
    Listing environments
    = link_to "#", class: 'btn btn-default btn-back' do
      %span.glyphicon.glyphicon-circle-arrow-left
  %hr

%table.table
  %thead
    %tr
      %th Name
      %th Release
      %th
      %th
      %th

  %tbody
    - @environments.each do |environment|
      %tr
        %td= environment.name
        %td= environment.release.name
        %td= link_to 'Show', environment
        %td= link_to 'Edit', edit_environment_path(environment)
        %td= link_to 'Destroy', environment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Environment', new_project_environment(@project)
