= simple_form_for(@host) do |f|
  = f.error_notification

  .form-inputs
    = f.input :url
    = f.input :name
    = f.input :description
    = f.input :disabled

  .form-actions
    = f.button :submit
