= simple_form_for([@environment, @host], wrapper: :horizontal_form, html: { class: 'form-horizontal' } ) do |f|
  .row.form-inputs
    .col-md-8.col-md-offset-2
      = f.error_notification

  .row.form-inputs
    .col-md-8.col-md-offset-1
      = f.input       :url
      = f.association :environment
      = f.input       :disabled
  .row.form-actions
    .col-md-10.col-md-offset-3
      = f.button :submit, class: 'btn-primary'
      = link_to 'Cancel', hosts_path, class: 'btn btn-default'
      - unless @host.new_record?
        = link_to @host, :method => :delete, class: 'btn btn-sm btn-danger', 
          title: 'Delete', data: { confirm: "Are you sure?" } do
          %span.glyphicon.glyphicon-trash
