%p#notice= notice

= link_to "#", class: 'btn btn-default btn-back' do
  %span.glyphicon.glyphicon-circle-arrow-left
= link_to edit_environment_host_path(@environment, @host), class: 'btn btn-default' do
  %span.glyphicon.glyphicon-cog

%hr

.row
  .col-md-6
    %p
      %b Url:
      = @host.url
    %p
      %b Environment:
      = @host.environment.try(:name)
    %p
      %b Disabled:
      = @host.disabled
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4 Instances
      .panel-body
        - @host.instances.each do |instance|
          %p
            %b
              #{instance.image.project.name}/#{instance.component.name}:#{instance.image.release.name}
            %i
              %small (public: #{instance.public_port} private: #{instance.private_port})
              = link_to edit_component_instance_path(instance.component, instance), class: 'btn btn-xs btn-default btn-rotate', title: 'Settings' do
                %span.glyphicon.glyphicon-cog

%p
  %b Description:
  = @host.description

= raise