.col-sm-12.col-md-8.col-lg-6
  %table.table
    %thead
      %tr
        %th.col-md-3 Name
        %th.col-md-7 URL
        %th.col-md-2
    - @registries.each do |registry|
      %tr
        %td
          = link_to truncate(registry.name.to_s, length: 12), registry_path(registry)
        %td
          = link_to truncate(registry.url.to_s, length: 40), registry_path(registry)
        %td.text-right
          = link_to toggle_registry_path(registry), remote: true, class: "btn btn-xs btn-default btn-rotate btn-toggle #{registry.disabled? ? 'btn-warning' : ''}", title: 'Disable' do
            %span.glyphicon.glyphicon-off
          = link_to edit_registry_path(registry), class: 'btn btn-xs btn-default btn-rotate', title: 'Settings' do
            %span.glyphicon.glyphicon-cog

.visible-md-block.visible-lg-block.col-md-4.col-lg-4
  %table.table.text-center{role: 'info'}
    %thead
      %tr
        %th.text-center Projects
        %th.text-center Components
        %th.text-center Releases
    - @registries.each do |registry|
      %tr
        %td
          = registry.statistics.projects
        %td
          = registry.statistics.components
        %td
          = registry.statistics.releases

.visible-lg-block.col-lg-2
  %table.table.text-center{role: 'date'}
    %thead
      %tr
        %th.text-center Updated
    - @registries.each do |registry|
      %tr
        %td
          =l registry.updated_at, format: '%d.%m.%Y'
