%h1 
  Registries
  = link_to new_registry_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-plus

.row
  .col-md-8
    %table.table.registries
      %thead
        %tr
          %th.col-md-3 Name
          %th.col-md-7 URL
          %th.col-md-2
      - @registries.each do |registry|
        %tr
          %td
            = link_to truncate(registry.name.to_s, length: 12), registry_path(registry)
          %td
            = link_to truncate(registry.url.to_s, length: 40), registry_path(registry)
          %td
            = link_to '#', class: 'btn btn-xs btn-default', title: 'Refresh' do
              %span.glyphicon.glyphicon-repeat
            = link_to '#', class: 'btn btn-xs btn-default', title: 'Disable' do
              %span.glyphicon.glyphicon-off
            = link_to edit_registry_path(registry), class: 'btn btn-xs btn-default', title: 'Settings' do
              %span.glyphicon.glyphicon-cog

  .visible-lg-block.col-md-4
    %table.table.registries-info
      %thead
        %tr
          %th Projects
          %th Components
          %th Releases
          %th Updated
      - @registries.each do |registry|
        %tr
          %td
            5
          %td
            10
          %td
            15
          %td
            20.09.2014
