%p#notice= notice

%p
  %b Name:
  = @registry.name
%p
  %b Description:
  = @registry.description
%p
  %b Url:
  = @registry.url
%p
  %b Disabled:
  = @registry.disabled

= link_to 'Edit', edit_registry_path(@registry)
\|
= link_to 'Back', registries_path
