= simple_form_for(@project, wrapper: :horizontal_form) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, disabled: true
    = f.input :label
    = f.input :description
    = f.input :disabled

  .form-actions
    = f.button :submit, class: 'btn'
