%h1 
  Projects
  = link_to refresh_registries_path, remote: true, id: 'refresh', class: 'btn btn-default btn-rotate', title: 'Refresh' do
    %span.glyphicon.glyphicon-repeat

%table.table
  %thead
    %tr
      %th.col-md-5
      %th.col-md-3 Releases
      %th.col-md-3 Components
      %th.col-md-1 Instances
  %tbody
    - @projects.includes(:releases).each do |project|
      %tr
        %td
          %blockquote
            %p
              = link_to project.name, edit_project_path(project)
              %small= project.description
        %td        
          - project.releases.each do |release|
            %p
              = link_to release.name, release_path(release)
              - if release.active?
                %span.glyphicon.glyphicon-ok.text-success

        %td        
          - project.components.each do |component|
            %p= link_to component.name, component_path(component)
        %td        
          - project.components.each do |component|
            %p.text-center
              - instances = component.instances.count
              - if instances == 0
                = link_to new_component_instance_path(component) do
                  %span.badge= instances
              - else
                = link_to component_instances_path(component) do
                  %span.badge= instances

      
