- content_for :header do
  .row
    .col-md-9
      %h1
        Projects
        = link_to refresh_registries_path, remote: true, id: 'refresh', class: 'btn btn-default btn-rotate', title: 'Refresh' do
          %span.glyphicon.glyphicon-repeat
          = t('.scan')

%table.table
  %thead
    %tr
      %th.col-md-4
      %th.col-md-2
      %th.col-md-3 Environments
      %th.col-md-3 Components
  %tbody
    - @projects.includes(:releases, :environments, :components).each do |project|
      %tr
        %td
          %blockquote
            %p
              = link_to project.name, project
              %small= project.description


        %td
          = link_to pluralize(project.releases.count, 'release'), project_releases_path(project)

        %td
          - if project.environments.count == 0
            %p
              = link_to new_project_environment_path(project), class: 'btn btn-default btn-xs btn-rotate' do
                %span.glyphicon.glyphicon-plus
          - project.environments.each do |environment|
            .row
              .col-md-7
                %p
                  = link_to environment.name, environment
              .col-md-5
                %span.badge.badge-info{title: 'hosts'}= environment.hosts.count
                %span.badge.badge-success{title: 'instances'}= environment.instances.running.count


        %td
          - project.components.each do |component|
            .row
              .col-md-8
                %p
                  = link_to component.name, component_path(component)
              .col-md-4
                %span.badge.badge-success{title: 'running'}= component.instances.running.count
                %span.badge{title: 'stopped'}= component.instances.stopped.count
