%h1 
  Projects
  = link_to refresh_registries_path, remote: true, id: 'refresh', class: 'btn btn-default btn-rotate', title: 'Refresh' do
    %span.glyphicon.glyphicon-repeat

%table.table
  %thead
    %tr
      %th.col-md-3
      %th.col-md-3 Environments
      %th.col-md-3 Releases
      %th.col-md-3 Components
  %tbody
    - @projects.includes(:releases).each do |project|
      %tr
        %td
          %blockquote
            %p
              = link_to project.name, edit_project_path(project)
              %small= project.description

        %td{ style: 'border-right: 1px dotted' }
          - project.environments.each do |environment|
            %p
              %span
                = link_to environment.name, environment
              %span.pull-right
                = link_to environment_hosts_path(environment) do
                  %span.badge= pluralize( environment.hosts.count, t(:hosts, default: 'host') )

        %td
          - project.releases.each do |release|
            %p
              = link_to release.name, release_path(release)
              - if release.active?
                %span.glyphicon.glyphicon-ok.text-success

        %td
          - project.components.each do |component|
            %p
              %span
                = link_to component.name, component_path(component)
              %span.pull-right
                = link_to new_component_instance_path(component) do
                  %span.badge= pluralize( component.instances.count, t(:instances, default: 'instance') )
