- content_for :header do
  %h1 
    Projects
    = link_to refresh_registries_path, remote: true, id: 'refresh', class: 'btn btn-default btn-rotate', title: 'Refresh' do
      %span.glyphicon.glyphicon-repeat

%table.table
  %thead
    %tr
      %th.col-md-3
      %th.col-md-3 Releases
      %th.col-md-3 Environments
      %th.col-md-3 Components
  %tbody
    - @projects.includes(:releases).each do |project|
      %tr
        %td
          %blockquote
            %p
              = link_to project.name, project
              %small= project.description


        %td
          - project.releases.each do |release|
            %p
              = link_to release.name, release_path(release)
              - if release.active?
                %span.glyphicon.glyphicon-ok.text-success

        %td
          - project.environments.each do |environment|
            %p.row
              %span.col-md-6
                = link_to environment.name, environment
              %span.col-md-6.visible-md-inline-block.visible-lg-inline-block
                = link_to environment_hosts_path(environment) do
                  %span.badge= pluralize( environment.hosts.count, t(:hosts, default: 'host') )

        %td
          - project.components.each do |component|
            %p.row
              %span.col-md-6
                = link_to component.name, component_path(component)
              %span.col-md-6.visible-md-inline-block.visible-lg-inline-block
                = link_to new_component_instance_path(component) do
                  %span.badge= pluralize( component.instances.count, t(:instances, default: 'instance') )
