%h1 
  Projects
  = link_to refresh_registries_path, remote: true, id: 'refresh', class: 'btn btn-default btn-rotate', title: 'Refresh' do
    %span.glyphicon.glyphicon-repeat

%table.table
  %thead
    %tr
      %th.col-md-4
      %th.col-md-4 Releases
      %th.col-md-4 Components
  %tbody
    - @projects.includes(:releases).each do |project|
      %tr
        %td
          %blockquote
            %p
              = link_to project.name, edit_project_path(project)
              %small= project.description
        %td        
          - project.releases.each do |release|
            %p= link_to release.name, release_path(release)
        %td        
          - project.components.each do |component|
            %p= link_to component.name, component_path(component)
      
