- content_for :header do
  %h1
    Environment #{@environment.name}
    = link_to "#", class: 'btn btn-default btn-back' do
      %span.glyphicon.glyphicon-circle-arrow-left

    = link_to edit_environment_path(@environment), class: 'btn btn-default btn-rotate' do
      %span.glyphicon.glyphicon-cog
  %hr

%p
  %span.h4 Current release:
  %span.h3= @environment.release.name

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4
          Hosts
          = link_to new_environment_host_path(@environment), class: 'btn btn-default btn-xs' do
            %span.glyphicon.glyphicon-plus
      .panel-body
        - @environment.hosts.each do |host|
          %p= link_to host.name, environment_host_path(@environment, host)

  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4
          Instances
          = link_to new_environment_instance_path(@environment), class: 'btn btn-default btn-xs' do
            %span.glyphicon.glyphicon-plus
      .panel-body
        - @environment.instances.each do |instance|
          %p
            = link_to instance.component.name, instance_path(instance)
            = instance.public_port
            \:
            = instance.private_port

