- content_for :header do
  %h1 
    #{@release.project.name}:#{@release.name}
    = link_to "#", class: 'btn btn-default btn-back', title: 'Back' do
      %span.glyphicon.glyphicon-circle-arrow-left
    = link_to edit_release_path(@release), class: 'btn btn-default btn-rotate', title: 'Settings' do
      %span.glyphicon.glyphicon-cog
  %hr

.row
  .col-md-4
    %p
      %b #{t('.alias')}:
  .col-md-8
    = @release.label
.row
  .col-md-4
    %p
      %b Components:
  .col-md-8
    - @release.components.each do |component|
      %p= component.name

.row
  .col-md-4
    %p
      %b Description:
  .col-md-8
    = @release.description

