%p#notice= notice

.row
  .col-md-4
    %p
      %b Release:
  .col-md-8
    = @release.name
.row
  .col-md-4
    %p
      %b Label:
  .col-md-8
    = @release.label
.row
  .col-md-4
    %p
      %b Components:
  .col-md-8
    - @release.components.each do |component|
      %p= component.name

.row
  .col-md-4
    %p
      %b Description:
  .col-md-8
    = @release.description

