!!!
%html{lang: 'en', 'ng-app' => 'tavern'}
  %head
    %title= content_for?(:title) ? yield(:title) : 'Tavern'
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', :name => 'viewport'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag controller_name, media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag controller_name, 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = render 'layouts/navbar'
    .container
      = yield :header
    .container
      .row
        .col-md-8.col-md-offset-2
          = render 'layouts/messages'
    .container
      = yield
