!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? yield(:title) : 'Tavern'
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag controller_name, media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to content_for?(:title) ? yield(:title) : 'Tavern', root_path, class: 'navbar-brand'
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li{ active_if('registries') }
                = link_to t('menu.registries'), registries_path
              %li
                %a{:href => "#about"} About
              %li
                %a{:href => "#contact"} Contact
          / /.nav-collapse
    .container
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag controller_name, 'data-turbolinks-track' => true