- content_for :header do
  %h1
    Instance #{@instance.name.blank? ? '№' + @instance.id.to_s : @instance.name}
    = link_to "#", class: 'btn btn-default btn-back' do
      %span.glyphicon.glyphicon-circle-arrow-left

    = link_to edit_instance_path(@instance), class: 'btn btn-default btn-rotate' do
      %span.glyphicon.glyphicon-cog
  %hr


%p
  %b Name:
  - if @instance.name.blank? 
    %i none
  - else 
    = @instance.name
%p
  %b Ports: #{@instance.ports.try(:values).try(:join, ':')}
%p
  %b Component:
  = @instance.component.name
%p
  %b Host:
  = @instance.host.name
%p
  %b Image:
  = @instance.image.name
